.bnk-field-key {
  font-weight: bold;
  color: #2C6ECB;
  /* text-transform: capitalize; */
}

.bnk-container {
  list-style-type: circle;
  padding-inline-start: 1.3em;
}

.bnk-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-bottom: 10px;
}

.bnk-title {
  margin: 0;
  font-size: 1em;
  font-weight: 800;
  color: #363636;
}

.bnk-close-button {
  margin-inline-start: auto;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
  color: #637381;
  line-height: 1;
  
  &:hover {
    color: #000;
  }
}


.bnk-floating-container {
  position: fixed;
  bottom: 1em;
  right: 1em;

  direction: ltr;
  text-align: justify;
  
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  max-width: 20%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.bnk-button-container {

  border-top: 1px solid var(--p-border-subdued);
  display: flex;
  justify-content: flex-end;
}

.bnk-button-container .Polaris-Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--p-interactive);
  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--p-text-on-interactive);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background: var(--p-interactive-hovered);
  }
}


.bnk-button-container .Polaris-Button__Content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.bnk-button-container .Polaris-Button__Icon {
  width: 15px;
  height: 15px;
  /* margin-inline: .5em; */

  /* padding: .4em .6em; */
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

svg{
  fill: #8a8a8a;
  overflow: visible;
}